.content {
font-size: 50px;
display: flex;
justify-content: center;
margin: auto;
margin-top: 100px;
padding: 5px;
max-width: 700px;
display:block;
border-radius: 15px;
background-color: rgba(143, 143, 143, 0.267);
}

.buttons {
    margin: 2px;
    align-content: flex-start;
}

.question {
    text-align: center;
}

.scoretime {
    display:inline-flex;
    width: 100%;
}

.timer {
margin-left:auto;
}

.start {
    display: flex;
    margin-top: 10px;
    padding: 1px;
    justify-content:center;
    
}